<footer>
	<div class="container">
		
		<div class="row">
			<div class="col-8"> Find a bug? </div>
			<div class="col">
				<li>About</li> |
				<li>Donate</li>
			</div>
		</div>
		
	</div>
</footer>




